<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-row>
        <ion-col>
            <div>Empresa</div>
        </ion-col>
        <ion-col>
            <div>Nombre</div>
        </ion-col>
    </ion-row>
    <ion-grid>
        <ion-row *ngFor="let document of documents">
            <ion-col>
                <ion-item button href="http://192.168.137.1:3000/files/{{document.nombre}}">
                    <ion-label>
                        {{document.company}}
                    </ion-label>
                    <ion-label>
                        {{document.nombre}}
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>