<!-- student-edit.page.html -->
<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
        <ion-input [(ngModel)]="data.first_name" placeholder="Nombre" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.last_name" placeholder="Apellido" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.direction" placeholder="Direccion" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.colony" placeholder="Colonia" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.cp" placeholder="Codigo postal" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.email" placeholder="Email" inputmode="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="data.password" placeholder="contraseña" inputmode="password"></ion-input>
    </ion-item>
    <ion-button (click)="create()" color="success">
        Agregar
    </ion-button>
    <ion-button [routerLink]="[ '/user-list']" color="danger">
        Cancel
    </ion-button>
</ion-content>