<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="secondary">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="dark" [routerLink]="[ '/login']">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Empresas</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <div>Id</div>
            </ion-col>
            <ion-col>
                <div>Nombre</div>
            </ion-col>
            <ion-col>
                <div>Acciones</div>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let company of companies">
            <ion-col size="2">
                <div style='font-size:90%'>{{ company.id_company }} </div>
            </ion-col>
            <ion-col>
                <div> {{ company.company }}
                    <div style='font-size:60%'>{{ company.rfc }}</div>
                </div>
            </ion-col>
            <ion-col size="5">
                <ion-button color="warning" size="small" routerLink='/company-update/{{company.id_company}}'>
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" size="small" (click)="deleteCompany(company.id_company)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>