<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>




<ion-content fullscreen>
    <ion-grid>
        <ion-row *ngFor="let company of companies">
            <ion-col>
                <ion-item button routerLink='/company-update/{{company.id_company}}'>
                    <ion-avatar slot="start">
                        <img src="http://192.168.137.1:3000/files/{{ company.img }}">
                    </ion-avatar>
                    <ion-label> {{ company.company }}
                        <ion-label style="font-size:80%">RFC: {{ company.rfc }} </ion-label>
                    </ion-label>

                    <ion-button color="danger" size="small" (click)="deleteCompany(company.id_company)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="add" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>