<ion-header>
    <ion-toolbar>
        <ion-title>services</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-row *ngFor="let service of services">
        <ion-card>
            <ion-row>
                <ion-col>
                    <img src="http://192.168.137.1:3000/files/{{ service.img }}" />
                </ion-col>
                <ion-col>
                    <ion-card-header>
                        <ion-card-subtitle>{{service.name_service}}</ion-card-subtitle>
                        <ion-button size="small" color="tertiary">consultar</ion-button>
                    </ion-card-header>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-row>
</ion-content>