<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="secondary">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="dark">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Usuarios</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>Id</ion-col>
            <ion-col>nombre</ion-col>
            <ion-col>acciones</ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngFor="let user of users">
            <ion-col style="font-size:10px;">{{ user.id_user }} </ion-col>
            <ion-col style="font-size:10px;">
                <ion-row>
                    <ion-col style="font-size:10px;"> {{ user.first_name }}</ion-col>
                    <ion-col style="font-size:9px;">{{ user.email }} </ion-col>
                </ion-row>
            </ion-col>
            <ion-col style="display: flex">
                <ion-button color="warning" size="small" routerLink='/user-update/{{user.id_user}}'>
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" size="small" (click)="delete(user.id_user)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button color="tertiary" [routerLink]="['/user-create']">
        Agregar cliente
    </ion-button>
</ion-content>