<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="user-list">
            <ion-label>Usuarios</ion-label>
            <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="company">
            <ion-label>Empresas</ion-label>
            <ion-icon name="business-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="payments">
            <ion-label>Pagos</ion-label>
            <ion-icon name="card-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="services">
            <ion-label>Servicios</ion-label>
            <ion-icon name="easel-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>